# Core Libraries
langchain
chromadb
streamlit
sentence-transformers

# Audio / voice input
speechrecognition
pyaudio

# Embedding dependencies
scikit-learn>=1.3
numpy>=1.26

# Whisper (if used)
openai-whisper

# Others
pandas
tqdm
langchain_huggingface



streamlit
SpeechRecognition
streamlit-mic-recorder
gTTS
google-generativeai
chromadb
langchain
langchain-huggingface
sentence-transformers
transformers
torch
